## Estructuras de Datos

1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [42]:
ciudades = ["Roma", "Paris", "Madrid", "Rio de Janeiro", "Buenos Aires"]
print(ciudades)

['Roma', 'Paris', 'Madrid', 'Rio de Janeiro', 'Buenos Aires']

2) Imprimir por pantalla el segundo elemento de la lista

In [43]:
print(ciudades[1])

Paris

3) Imprimir por pantalla del segundo al cuarto elemento

In [44]:
print(ciudades[1:4])

['Paris', 'Madrid', 'Rio de Janeiro']

4) Visualizar el tipo de dato de la lista

In [45]:
print(type(ciudades))

<class 'list'>

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [46]:
print(ciudades[2:])

['Madrid', 'Rio de Janeiro', 'Buenos Aires']

6) Visualizar los primeros 4 elementos de la lista

In [47]:
print(ciudades[:4])

['Roma', 'Paris', 'Madrid', 'Rio de Janeiro']

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [49]:
ciudades.append("Paris")
ciudades.append("Estambul")
print(ciudades)

['Roma', 'Paris', 'Madrid', 'Rio de Janeiro', 'Buenos Aires', 'Paris', 'Estambul']

8) Agregar otra ciudad, pero en la cuarta posición

In [50]:
ciudades.insert(3,"Cordoba")
print(ciudades)

['Roma', 'Paris', 'Madrid', 'Cordoba', 'Rio de Janeiro', 'Buenos Aires', 'Paris', 'Estambul']

9) Concatenar otra lista a la ya creada

In [51]:
ciudades2 = ["Tulum","Sydney"]
ciudades += ciudades2
print(ciudades)

['Roma', 'Paris', 'Madrid', 'Cordoba', 'Rio de Janeiro', 'Buenos Aires', 'Paris', 'Estambul', 'Tulum', 'Sydney']

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [53]:
ciudades.index("Paris")

1

11) ¿Qué pasa si se busca un elemento que no existe?

In [54]:
"Bariloche" in ciudades

False

12) Eliminar un elemento de la lista

In [55]:
eliminada = ciudades.pop(4)

In [56]:
print(eliminada)

Rio de Janeiro

13) ¿Qué pasa si el elemento a eliminar no existe?

In [57]:
ciudades.pop(10)

IndexError: pop index out of range

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [58]:
ultimo = ciudades.pop()
print(ultimo)

Sydney

15) Mostrar la lista multiplicada por 4

In [59]:
print(ciudades*4)

['Roma', 'Paris', 'Madrid', 'Cordoba', 'Buenos Aires', 'Paris', 'Estambul', 'Tulum', 'Roma', 'Paris', 'Madrid', 'Cordoba', 'Buenos Aires', 'Paris', 'Estambul', 'Tulum', 'Roma', 'Paris', 'Madrid', 'Cordoba', 'Buenos Aires', 'Paris', 'Estambul', 'Tulum', 'Roma', 'Paris', 'Madrid', 'Cordoba', 'Buenos Aires', 'Paris', 'Estambul', 'Tulum']

16) Crear una tupla que contenga los números enteros del 1 al 20

In [60]:
mitup = tuple(range(1,21))
print(mitup)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

17) Imprimir desde el índice 10 al 15 de la tupla

In [62]:
print(mitup[10:16])

(11, 12, 13, 14, 15, 16)

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [63]:
20 in mitup

True

In [64]:
30 in mitup

False

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [65]:
"Paris" in ciudades

True

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [66]:
ciudades.count("Paris")

2

In [67]:
mitup.count(13)

1

21) Convertir la tupla en una lista

In [68]:
list(mitup)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [70]:
v1 , v2 , v3 = mitup[0:3]

print(v1 , v2 , v3)

1 2 3

23) Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [77]:
midic = dict(ciudad = ciudades)
print(midic)

{'ciudad': ['Roma', 'Paris', 'Madrid', 'Cordoba', 'Buenos Aires', 'Paris', 'Estambul', 'Tulum']}

In [78]:
midic["Continente"]= ""

In [79]:
midic["Pais"]= ""
print(midic)

{'ciudad': ['Roma', 'Paris', 'Madrid', 'Cordoba', 'Buenos Aires', 'Paris', 'Estambul', 'Tulum'], 'Continente': '', 'Pais': ''}

24) Imprimir las claves del diccionario

In [80]:
print(midic.keys())

dict_keys(['ciudad', 'Continente', 'Pais'])

25) Imprimir las ciudades a través de su clave

In [82]:
print(midic["ciudad"])

['Roma', 'Paris', 'Madrid', 'Cordoba', 'Buenos Aires', 'Paris', 'Estambul', 'Tulum']