## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
a = 3
print(a)

3

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
print(type(8.5))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
print(type(a))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [4]:
nombre = "Micaela"

5) Crear una variable que contenga un número complejo

In [5]:
complejo = 3+1j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [6]:
print(type(complejo))

<class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [7]:
pi = 3.1415

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [9]:
Verdadero = True
verdadero = "True"

verdadero == Verdadero

False

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [10]:
print(type(Verdadero))
print(type(verdadero))

<class 'bool'>
<class 'str'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [11]:
suma = 4 + 2.3

11) Realizar una operación de suma de números complejos

In [13]:
(10+1j) + (3+4j)

(13+5j)

12) Realizar una operación de suma de un número real y otro complejo

In [15]:
3 + (4+1j)

(7+1j)

13) Realizar una operación de multiplicación

In [16]:
2*3

6

14) Mostrar el resultado de elevar 2 a la octava potencia

In [18]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [19]:
cociente = 27/4
print(cociente)

6.75

16) De la división anterior solamente mostrar la parte entera

In [21]:
entera = 24//4
print(entera)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [22]:
resto = 27%4
print(resto)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [23]:
resultado = 4*entera+resto
print(resultado)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [24]:
"43" + "24"

'4324'

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [25]:
"2" == 2

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [26]:
int("2") == 2

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos?

In [28]:
a = float('3.8')

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [29]:
a -= 1

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [30]:
1<<2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [34]:
"2"+"2"

'22'

26) Realizar una operación válida entre valores de tipo entero y string

In [31]:
a= "ja"
a*3

'jajaja'